.button
  @include main-button
  border: 0 solid #e2e8f0
  padding: .6rem 1.6rem
  border-radius: 1.5rem
  background-color: #fff
  box-shadow: $btn-box-shadow

  &:hover
    background-color: $navy-blue2
    color: #fff

  
@include breakpoint-xs-down
  .button span
    display: none