.hero
  &__wrapper
    text-align: center
    margin: 0 1rem

  &__title
    margin-bottom: 1rem
    font-weight: 400
    font-size: 1.6rem
    letter-spacing: 1px
    font-family: Raleway, sans-serif

  &__intro
    line-height: 1.4rem
    font-weight: 300
    font-size: .9rem

  &__buttons
    margin: 3rem 1rem 2rem
    display: flex
    justify-content: space-evenly
    flex-direction: row
    flex-wrap: wrap
    row-gap: 2rem

  &__icon
    margin-right: .3rem

.banner
  height: 500px
  background-color: #fff
  
  &__img
    height: 100%
    width: 100%
    object-fit: cover
  
@include breakpoint-xs-down
  .hero
    &__icon
      margin: 0