.wrapper
  display: flex
  flex-direction: column

.filter
  margin: 1rem 1rem 4rem

  &__title
    font-weight: 200
    margin-bottom: 1rem

  &__form
    display: flex
    flex-direction: column

  &__input
    padding: .8rem .7rem
    font-family: Inter, Raleway, sans-serif
    color: $main-black
    font-size: 1rem
    border: none
    outline: none

    &::placeholder
      font-weight: 200
      font-size: 1rem
    
// Filter accordion

.accordion
  margin: 1rem 0
  cursor: default

  &__item
    margin: 1rem 0    
    border-bottom: 1px solid $main-black
  
  &__title
    display: flex
    justify-content: space-between

.accordion-content
  margin-top: 1rem
  height: 0
  overflow: hidden
  transition: height .2s cubic-bezier(.39, .11, .37, .99) 0s

.show
  height: 100px
  overflow: hidden
  transition: height .3s cubic-bezier(.39, .11, .37, .99) 0s

// Tabs component

.tabs-wrapper
  margin-bottom: 5rem
  
  .tabs
    display: flex

    &__content
      // margin: 0 1rem

    &__panels
      background-color: $main-white
      min-height: 400px

.tab-btn
  padding: .8rem 1.6rem
  width: 100%
  border: none
  @include main-button
  
  &:hover
    background-color: $navy-blue2
    color: $main-white

  &.focus
    background-color: $navy-blue2
    color: $main-white